{% extends "base.html" %}

{% block title %}Assignment{% endblock %}

{% block content %}
<h4>Welcome to the Nanyang System Developers Dashboard!</h4>

<div style="display: flex; align-items: center; column-gap: 5px;">
  <h2 style="display: inline;">Details for "{{ assignment_details["title"] }}" (ID: {{
    assignment_details["id"] }})</h2>
  <a href="/classrooms/{{ assignment_details['classroom']['id'] }}" style="display: inline;"
    class="btn btn-danger">Back</a>
</div>

<!-- Something went wrong -->
{% if "error" in accepted %}
<p>An error occurred. Wrong assignment ID?</p>
{% else %}
<!-- List details for accepted assignments -->

<div class="column mt-3">
  {% for item in accepted %}
  {% set student = item["students"][0] %}
  {% set repository = item["repository"] %}
  <div class="container pb-2 classBlock">
    <div class="container p-0 pt-2 pb-2">
      <h5 style="font-weight: bold; display: inline;">Owner: {{ student["login"] }}</h5>
      <a target="_blank" href="{{ repository['html_url'] }}"><span style="font-size: 18px;"
          class="material-symbols-outlined">open_in_new</span></a>
    </div>

    <div>Repo: {{ repository["full_name"]}} </div>
    <div>Finished: {{ "Yes" if finished[student["login"]] else "No" }}</div>
  </div>
  {% endfor %}
</div>

{% endif %}
{% endblock %}