.navbar {
  background-color: var(--bs-red);
}

.classrooms {
  margin-top: 10px;
}

.logo {
  color: var(--bs-light);
  font-weight: bold;
  margin-left: 8px;
  text-decoration: none;
}

.classBlock {
  border-style: solid;
  border-width: .5px;
  border-radius: 5px;
  box-shadow: 5px 8px rgba(10, 10, 10, .15);
  margin-bottom: 20px;
}

a {
  text-decoration: none !important;
}

.btn {
  color: white;
}